:root {
    --head-foot-bgcolor: #003A61;
    --section-bgcolor: #E1F3FF;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

h2 {
    font-size: 3rem;
    position: absolute;
    width: 100%;
    top: 40px;
}

h3 {
    font-size: 1.5rem;
    color: var(--head-foot-bgcolor);
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #d4d4d4;
}

a:hover {
    color: #fff;
}


/* ---------------top banner section -----------------*/
header {
    background-color: var(--head-foot-bgcolor);
}

.banner {
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rotate-img {
    width: 60px;
    padding-bottom: 5px;
}

.banner p{
    display: none;
    position: absolute;
    top: 25px;
    left: 80px;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 2rem;
    padding: 0 15px;
}

#click-me,
#help-me {
    font-size: 0.9rem;
    display: block;
    height: 14px;
    color: #fcbf49;
    font-weight: 600;
}

#help-me{
    display: none;
}




/* --------------------main section-------------------*/

section {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;

}

#about-me,
#contact-info {
    background-color: var(--section-bgcolor);
}

/* -----------------about me section -----------------*/

article.intro{
    max-width: 500px;
}

.profile {
    width: 350px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
}

/* -----------------my work section ------------------*/

.work-box {
    width: 30%;
    padding: 35px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--section-bgcolor);
    border-radius: 2px;

}

.work-box:hover{
    background-color: #C4E7FF;
    transform: scale(1.05);
    transition: transform 0.12s ease-in, background-color 0.12s ease-in ;
}


.image-container {
    width: 90%;
    margin: 0 auto;

}

.work-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid var(--head-foot-bgcolor);
    border-radius: 5px;
    background-color: var(--head-foot-bgcolor);
    box-shadow: 1px 1px 1px gray;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    font-size: 1.6rem;
}

/* ------------------contact info section----------------- */

#contact-info .container {
    flex-direction: column;
}


.social-media {
    display: flex;
    align-items: center;
    margin-top: 100px;
    font-size: 1.5rem;
}

.social-media li {
    margin: 0 50px;
    display: flex;
    align-items: center;
}

.social-media a {
    color: #000;
    display: inline-block;
}

.social-media img{
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}





@media only screen and (max-width: 1024px) {
    .banner {
        height: 60px;
    }

    .pc {
        display: none;
    }

    nav {
        margin: 0 auto;
    }

    nav a {
        font-size: 1.5rem;
    }

    h2{
        font-size: 2.5rem;
    }
    
}