:root {
    --bg-body: #dad7cd;
    --medium-green: #344e41;
    --dark-green: #1F3128;
    --work-a: #1B24A4;
}

html {
    font-size: 16px;
}

/* ------------banner styling------------ */
.banner {
    background-color: var(--medium-green);
}

.banner a {
    color: var(--bg-body);
}

.banner a:hover {
    color: #fff;
}

.banner img{
    width: 50px;
}
/* ------------about me------------ */
#about-me {
    padding: 7rem 0;
    background-color: var(--bg-body);
}

.profile {
    width: 300px;
    background-color: var(--bg-body);
    border: 1px solid var(--medium-green);
}

#about-me p {
    font-size: 1.2rem;
}

/* ------------work------------ */
#work,
#contact {
    padding: 4rem 0;
    color: var(--dark-green);
}

#work a {
    font-size: 1.2rem;
    color: var(--work-a);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel {
    background-color: #a3b18a;
}




#contact {
    background-color: var(--bg-body);
}

#contact a{
    font-size: 1.5rem;
}

#contact img{
    width: 35px;
}